mat-grid-tile {
  background: lightblue;
}

.tile {

  &__header {
    display: flex;
    justify-content: space-between;
    font-size: 13px;

    &-formfield {
      background-color: lightblue;
      border-radius: 5px;
      height: 70%;

      &-input {
        color: black;
      }
    }
  }

  &__body {
    overflow-y: auto;
    width: 100%;
    height: 72%;

    &-check {
      margin: 1%;
      padding: 1%;
      box-sizing: border-box;
      border-radius: 5px;
      background-color: lightyellow;

      &-number {
        margin: 1%;
      }

      &-name {
        display: flex;
        justify-content: space-between;
        margin: 1%;

      }

      &-actions {
        display: flex;
        margin: 1%;
        justify-content: space-between;
        align-items: center;
      }

      .prepayment {
        margin: 1%;
      }
    }

    &-item {
      height: 45px;
      background-color: lightyellow;
      margin-top: .5px;
      margin-right: 1%;
      margin-left: 1%;
      display: flex;
      justify-content: space-between;
      padding-left: 5%;
      padding-right: 5%;
      border-radius: 5px;

      &-checkbox {
        margin-top: 11px;
      }

      &-span {
        margin-top: 11px;
      }

      &-img {
        width: 45px;
        height: 45px;
      }

      &-formfield {
        width: 100%;

        &-input {
          z-index: 1;
          opacity: 0;
        }

        &-label {
          border-bottom: 1px solid gray;
          color: gray;
        }
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-around;

    &-btn {
      width: 40%;
    }
  }
}

.minus-header {
  padding-top: 50px;
  height: 100%;
  box-sizing: border-box;
}
