<mat-grid-list cols="4" rowHeight="1:0.25">
  <form>
    <mat-grid-tile class="tile" colspan="1" rowspan="4">
      <mat-grid-tile-header class="tile__header">Добавить цветок</mat-grid-tile-header>

      <div class="tile__body">
        <div class="tile__body-item">
          <mat-form-field class="tile__body-item-formfield">
            <input class="tile__body-item-formfield-input" matInput placeholder="Название цветка">
          </mat-form-field>
        </div>
        <div class="tile__body-item">
          <mat-form-field class="tile__body-item-formfield">
            <input class="tile__body-item-formfield-input" matInput placeholder="Категория цветка">
          </mat-form-field>
        </div>
        <div class="tile__body-item">
          <mat-form-field class="tile__body-item-formfield">
            <input class="tile__body-item-formfield-input" matInput placeholder="Цвет цветка">
          </mat-form-field>
        </div>
        <div class="tile__body-item">
          <label class="tile__body-item-formfield-label">
            <input type="file" class="tile__body-item-formfield-input" placeholder="Фото цветка">
            <span>Добавьте фото</span>
          </label>
        </div>
        <div class="tile__body-item">
          <mat-form-field class="tile__body-item-formfield">
            <input class="tile__body-item-formfield-input" matInput placeholder="Цена за цветок">
          </mat-form-field>
        </div>
      </div>

      <mat-grid-tile-footer class="tile__footer">
        <button class="tile__footer-btn" mat-flat-button color="primary">Подтвердить</button>
        <button class="tile__footer-btn" mat-flat-button color="warn">Отменить</button>
      </mat-grid-tile-footer>
    </mat-grid-tile>

    <mat-grid-tile class="tile" colspan="1" rowspan="4">
      <mat-grid-tile-header class="tile__header">Добавить букет</mat-grid-tile-header>

      <div class="tile__body">
        <div class="tile__body-item">
          <mat-form-field class="tile__body-item-formfield">
            <input class="tile__body-item-formfield-input" matInput placeholder="Название букета">
          </mat-form-field>
        </div>
        <div class="tile__body-item">
          <mat-form-field class="tile__body-item-formfield">
            <input class="tile__body-item-formfield-input" matInput placeholder="Цена за букет">
          </mat-form-field>
        </div>
        <div class="tile__body-item">
          <label class="tile__body-item-formfield-label">
            <input type="file" class="tile__body-item-formfield-input">
            <span>Добавьте фото</span>
          </label>
        </div>
      </div>

      <mat-grid-tile-footer class="tile__footer">
        <button class="tile__footer-btn" mat-flat-button color="primary">Подтвердить</button>
        <button class="tile__footer-btn" mat-flat-button color="warn">Отменить</button>
      </mat-grid-tile-footer>
    </mat-grid-tile>

    <mat-grid-tile class="tile" colspan="2" rowspan="5">
      <mat-grid-tile-header class="tile__header">
        Текущие заказы
        <mat-form-field class="tile__header-formfield">
          <input class="tile__header-formfield-input" matInput (keyup)="applyFilter($event.target.value)"
            placeholder="Filter">
        </mat-form-field>
      </mat-grid-tile-header>
      <div class="tile__body minus-header">

        <div class="tile__body-check">
          <div class="tile__body-check-number">
            <span>Номер заказа: $$15487н91746н9178650785437й486$$</span>
          </div>
          <div class="tile__body-check-name">
            <span>$$Иван Будько$$</span>
            <span>Дата Доставки: $$10.10.2020$$</span>
          </div>
          <div class="tile__body-check-actions">
            <mat-form-field>
              <mat-select placeholder="Статус заказа">
                <mat-option value="active">Активен</mat-option>
                <mat-option value="finished">Завершен</mat-option>
                <mat-option value="denied">Отклонен</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Статус отправки">
                <mat-option value="sent">Отправлен</mat-option>
                <mat-option value="not-sent">Не отправлен</mat-option>
              </mat-select>
            </mat-form-field>

            <div class="price">
              <div class="price-count">
                Стоимость заказа: <span>$$0.00$$</span>
              </div>
              <div class="price-paid">
                Оплачено: <span>$$0.00$$</span>
              </div>
            </div>
          </div>

          <div class="prepayment">
            <mat-form-field>
              <mat-select placeholder="Предоплата">
                <mat-option value="yes">Да</mat-option>
                <mat-option value="no">Нет</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="tile__body-check">
          <div class="tile__body-check-number">
            <span>Номер заказа: $$15487н91746н9178650785437й486$$</span>
          </div>
          <div class="tile__body-check-name">
            <span>$$Иван Будько$$</span>
            <span>Дата Доставки: $$10.10.2020$$</span>
          </div>
          <div class="tile__body-check-actions">
            <mat-form-field>
              <mat-select placeholder="Статус заказа">
                <mat-option value="active">Активен</mat-option>
                <mat-option value="finished">Завершен</mat-option>
                <mat-option value="denied">Отклонен</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Статус отправки">
                <mat-option value="sent">Отправлен</mat-option>
                <mat-option value="not-sent">Не отправлен</mat-option>
              </mat-select>
            </mat-form-field>

            <div class="price">
              <div class="price-count">
                Стоимость заказа: <span>$$0.00$$</span>
              </div>
              <div class="price-paid">
                Оплачено: <span>$$0.00$$</span>
              </div>
            </div>
          </div>

          <div class="prepayment">
            <mat-form-field>
              <mat-select placeholder="Предоплата">
                <mat-option value="yes">Да</mat-option>
                <mat-option value="no">Нет</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>


        <div class="tile__body-check">
          <div class="tile__body-check-number">
            <span>Номер заказа: $$15487н91746н9178650785437й486$$</span>
          </div>
          <div class="tile__body-check-name">
            <span>$$Иван Будько$$</span>
            <span>Дата Доставки: $$10.10.2020$$</span>
          </div>
          <div class="tile__body-check-actions">
            <mat-form-field>
              <mat-select placeholder="Статус заказа">
                <mat-option value="active">Активен</mat-option>
                <mat-option value="finished">Завершен</mat-option>
                <mat-option value="denied">Отклонен</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Статус отправки">
                <mat-option value="sent">Отправлен</mat-option>
                <mat-option value="not-sent">Не отправлен</mat-option>
              </mat-select>
            </mat-form-field>

            <div class="price">
              <div class="price-count">
                Стоимость заказа: <span>$$0.00$$</span>
              </div>
              <div class="price-paid">
                Оплачено: <span>$$0.00$$</span>
              </div>
            </div>
          </div>

          <div class="prepayment">
            <mat-form-field>
              <mat-select placeholder="Предоплата">
                <mat-option value="yes">Да</mat-option>
                <mat-option value="no">Нет</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="tile__body-check">
          <div class="tile__body-check-number">
            <span>Номер заказа: $$15487н91746н9178650785437й486$$</span>
          </div>
          <div class="tile__body-check-name">
            <span>$$Иван Будько$$</span>
            <span>Дата Доставки: $$10.10.2020$$</span>
          </div>
          <div class="tile__body-check-actions">
            <mat-form-field>
              <mat-select placeholder="Статус заказа">
                <mat-option value="active">Активен</mat-option>
                <mat-option value="finished">Завершен</mat-option>
                <mat-option value="denied">Отклонен</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Статус отправки">
                <mat-option value="sent">Отправлен</mat-option>
                <mat-option value="not-sent">Не отправлен</mat-option>
              </mat-select>
            </mat-form-field>

            <div class="price">
              <div class="price-count">
                Стоимость заказа: <span>$$0.00$$</span>
              </div>
              <div class="price-paid">
                Оплачено: <span>$$0.00$$</span>
              </div>
            </div>
          </div>

          <div class="prepayment">
            <mat-form-field>
              <mat-select placeholder="Предоплата">
                <mat-option value="yes">Да</mat-option>
                <mat-option value="no">Нет</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="tile__body-check">
          <div class="tile__body-check-number">
            <span>Номер заказа: $$15487н91746н9178650785437й486$$</span>
          </div>
          <div class="tile__body-check-name">
            <span>$$Иван Будько$$</span>
            <span>Дата Доставки: $$10.10.2020$$</span>
          </div>
          <div class="tile__body-check-actions">
            <mat-form-field>
              <mat-select placeholder="Статус заказа">
                <mat-option value="active">Активен</mat-option>
                <mat-option value="finished">Завершен</mat-option>
                <mat-option value="denied">Отклонен</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Статус отправки">
                <mat-option value="sent">Отправлен</mat-option>
                <mat-option value="not-sent">Не отправлен</mat-option>
              </mat-select>
            </mat-form-field>

            <div class="price">
              <div class="price-count">
                Стоимость заказа: <span>$$0.00$$</span>
              </div>
              <div class="price-paid">
                Оплачено: <span>$$0.00$$</span>
              </div>
            </div>
          </div>

          <div class="prepayment">
            <mat-form-field>
              <mat-select placeholder="Предоплата">
                <mat-option value="yes">Да</mat-option>
                <mat-option value="no">Нет</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>


      </div>
    </mat-grid-tile>

    <mat-grid-tile class="tile" colspan="1" rowspan="4">
      <mat-grid-tile-header class="tile__header">
        Имеющиеся цветы
        <mat-form-field class="tile__header-formfield">
          <input class="tile__header-formfield-input" matInput (keyup)="applyFilter($event.target.value)"
            placeholder="Filter">
        </mat-form-field>
      </mat-grid-tile-header>

      <div class="tile__body">
      <!-- FLOWER CARD BLOCK -->
        <div class="tile__body-item" *ngFor="let flower of originalFlowersArray">
          <mat-checkbox class="tile__body-item-checkbox" color="primary"></mat-checkbox>
          <span class="tile__body-item-span">{{flower.name}}</span>
          <img class="tile__body-item-img" [src]="flower.img" alt="">
        </div>
      </div>

      <mat-grid-tile-footer class="tile__footer">
        <button class="tile__footer-btn" mat-flat-button color="warn">Удалить</button>
      </mat-grid-tile-footer>
    </mat-grid-tile>

    <mat-grid-tile class="tile" colspan="1" rowspan="4">
      <mat-grid-tile-header class="tile__header">
        Имеющиеся букеты
        <mat-form-field class="tile__header-formfield">
          <input class="tile__header-formfield-input" matInput (keyup)="applyFilter($event.target.value)"
            placeholder="Filter">
        </mat-form-field>
      </mat-grid-tile-header>

      <div class="tile__body">
      <!-- BOUQUET CARD BLOCK -->
        <div class="tile__body-item" *ngFor="let bouquet of originalBouquetsArray">
          <mat-checkbox class="tile__body-item-checkbox" color="primary"></mat-checkbox>
          <span class="tile__body-item-span">{{bouquet.name}}</span>
          <img class="tile__body-item-img" [src]="bouquet.img" alt="">
        </div>
      </div>
      <mat-grid-tile-footer class="tile__footer">
        <button class="tile__footer-btn" mat-flat-button color="warn">Удалить</button>
      </mat-grid-tile-footer>
    </mat-grid-tile>

    <mat-grid-tile class="tile" colspan="2" rowspan="3">
      <mat-grid-tile-header class="tile__header">
        Последние зарегистрированные пользователи
        <mat-form-field class="tile__header-formfield">
          <input class="tile__header-formfield-input" matInput (keyup)="applyFilter($event.target.value)"
            placeholder="Filter">
        </mat-form-field>
      </mat-grid-tile-header>
      <div class="tile__body minus-header">

        <div class="tile__body-check">
          <div class="tile__body-check-name">
            <span>$$Иван Будько$$</span>
            <span>Дата регистрации: $$10.10.2020$$</span>
            <span>Телефон: $$+37529646464$$</span>
          </div>
        </div>
        <div class="tile__body-check">
          <div class="tile__body-check-name">
            <span>$$Иван Будько$$</span>
            <span>Дата регистрации: $$10.10.2020$$</span>
            <span>Телефон: $$+37529646464$$</span>
          </div>
        </div>
        <div class="tile__body-check">
          <div class="tile__body-check-name">
            <span>$$Иван Будько$$</span>
            <span>Дата регистрации: $$10.10.2020$$</span>
            <span>Телефон: $$+37529646464$$</span>
          </div>
        </div>
        <div class="tile__body-check">
          <div class="tile__body-check-name">
            <span>$$Иван Будько$$</span>
            <span>Дата регистрации: $$10.10.2020$$</span>
            <span>Телефон: $$+37529646464$$</span>
          </div>
        </div>
        <div class="tile__body-check">
          <div class="tile__body-check-name">
            <span>$$Иван Будько$$</span>
            <span>Дата регистрации: $$10.10.2020$$</span>
            <span>Телефон: $$+37529646464$$</span>
          </div>
        </div>
        <div class="tile__body-check">
          <div class="tile__body-check-name">
            <span>$$Иван Будько$$</span>
            <span>Дата регистрации: $$10.10.2020$$</span>
            <span>Телефон: $$+37529646464$$</span>
          </div>
        </div>
        <div class="tile__body-check">
          <div class="tile__body-check-name">
            <span>$$Иван Будько$$</span>
            <span>Дата регистрации: $$10.10.2020$$</span>
            <span>Телефон: $$+37529646464$$</span>
          </div>
        </div>
        <div class="tile__body-check">
          <div class="tile__body-check-name">
            <span>$$Иван Будько$$</span>
            <span>Дата регистрации: $$10.10.2020$$</span>
            <span>Телефон: $$+37529646464$$</span>
          </div>
        </div>
        <div class="tile__body-check">
          <div class="tile__body-check-name">
            <span>$$Иван Будько$$</span>
            <span>Дата регистрации: $$10.10.2020$$</span>
            <span>Телефон: $$+37529646464$$</span>
          </div>
        </div>

      </div>

    </mat-grid-tile>
  </form>
</mat-grid-list>
