.sign-cart{
    background-color: lightgray;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;

    &__item{
        cursor: pointer;
        &:hover{
            background-color: white;
        }
    }
}