<ng-template appRef></ng-template>

<form>
  <div class="sign-cart">
    <button mat-raised-button routerLink="/" color="primary">MAIN PAGE</button>
    <div>
      <button (click)="showModal()" mat-fab>
        <mat-icon>persone</mat-icon>
      </button>
      <button color="primary" routerLink="/admin" mat-fab>
        <mat-icon>persone</mat-icon>
      </button>
    </div>
  </div>
</form>