<mat-grid-list class="grid-list" cols="5" rowHeight="1:0.55">

  <form>

    <mat-grid-tile class="tile" colspan="5" rowspan="1.5">
      <mat-grid-tile-header class="tile__header">Политика конфиденциальности</mat-grid-tile-header>
      <div class="tile__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui aliquid porro ratione optio maiores a laudantium
        earum, vero officia ullam hic et quo tempore suscipit asperiores, praesentium cupiditate, error blanditiis.
        Doloribus quas cum ratione corrupti doloremque, ex suscipit reiciendis enim velit minima praesentium fugiat
        possimus necessitatibus mollitia iusto quisquam officia fugit? Voluptatum tempore enim delectus. Voluptas amet
        sapiente aliquid, quos ex autem necessitatibus quis sunt eveniet suscipit ullam porro facilis? Recusandae
        accusamus illo, asperiores distinctio qui temporibus quisquam voluptatem suscipit dolore architecto, sapiente
        tempora voluptatibus enim quia voluptate nihil possimus. Cumque, perferendis. Accusantium blanditiis delectus
        eos autem quae! Quos culpa accusantium placeat, aliquid rem iste delectus, minus nostrum veritatis, excepturi
        eum. Temporibus odio sunt mollitia! Explicabo assumenda officia esse eveniet quod ipsa ab consequuntur omnis
        excepturi sint asperiores mollitia provident, dicta libero deleniti corrupti commodi voluptatibus perspiciatis,
        suscipit perferendis optio repellat accusantium. Excepturi recusandae nam iure vel ut nostrum totam a mollitia
        earum doloremque assumenda, voluptatibus dignissimos ratione culpa consequatur voluptatem provident aut maxime
        vero velit odio magnam tempore laboriosam ducimus! Possimus sequi repellendus qui id nesciunt iure consectetur
        rerum cumque repellat itaque debitis sint maiores aliquid, delectus architecto laudantium provident dignissimos
        excepturi dolorem adipisci aperiam ea error necessitatibus! Corrupti, aut. Quae, suscipit iste nam labore odit
        ducimus autem accusamus reiciendis voluptatem magni perferendis vitae dolore, natus laborum sint libero tempore
        iure odio ipsum saepe dolores ipsam. Nostrum, libero quisquam dolorum velit commodi iure necessitatibus, sint,
        perferendis amet dolores voluptatum consequuntur. Odit fugit expedita, vero explicabo, maiores consequatur eum
        cum ab rerum mollitia facilis fugiat corrupti ea omnis ad temporibus quo, suscipit delectus ullam quam eius
        totam maxime commodi. Similique possimus optio maiores aut voluptatibus neque magni officia placeat reiciendis
        saepe illum voluptatum ducimus nulla suscipit, eligendi repellendus quasi expedita exercitationem cupiditate
        asperiores sunt adipisci eveniet! Eos magnam laudantium architecto iure suscipit! Error itaque laboriosam enim
        quae natus quaerat tempore explicabo assumenda illo esse sed, ut velit. Consequuntur et eligendi, natus corporis
        explicabo quia harum sit quae cumque velit? Sapiente, optio dignissimos saepe suscipit explicabo pariatur nam
        asperiores earum. Incidunt aut cupiditate tenetur voluptate ipsum? Inventore dolorum, nemo adipisci consectetur
        ad cupiditate, voluptatibus atque consequuntur fuga nihil quasi autem quibusdam enim animi rem odit. Magnam
        placeat veritatis laborum perferendis fuga, quo, similique porro repellat autem accusamus maxime natus
        voluptatem modi fugiat incidunt nostrum nulla temporibus assumenda distinctio dolor. Ea magni error culpa
        necessitatibus, maxime dolor voluptate illum tenetur temporibus eveniet amet modi aliquid nostrum aspernatur sed
        magnam assumenda incidunt quisquam voluptatibus eius laborum, cum dolorem qui? Perferendis sunt necessitatibus
        eaque commodi, id repellat exercitationem praesentium esse libero sint impedit fuga eligendi iste blanditiis,
        repellendus odit est fugiat quo quaerat voluptatem. Veniam, nesciunt ut maiores voluptatum culpa labore, in vel
        eius libero blanditiis cum molestias numquam rerum eveniet quibusdam magnam minima ipsam. Dolorem laboriosam
        explicabo pariatur voluptatum voluptate corrupti dolor suscipit unde consequatur assumenda illum atque quas,
        sequi, impedit quia fugiat amet ab quam nesciunt saepe voluptatem, eius fugit. Illo officiis blanditiis sapiente
        et corporis, reiciendis reprehenderit suscipit obcaecati cumque velit! Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Illo provident culpa accusantium vitae. Facere dicta molestias rerum sapiente accusantium
        placeat veritatis minima voluptatibus commodi architecto cupiditate obcaecati, maiores a, eveniet itaque
        mollitia porro aspernatur labore ducimus. Obcaecati nostrum, veritatis praesentium, blanditiis aspernatur libero
        eligendi voluptates doloremque ipsam iusto consectetur atque vitae. Nostrum quia doloribus exercitationem at
        blanditiis perferendis, porro quas accusantium nulla sequi necessitatibus aut. Odio nesciunt eveniet sapiente
        aspernatur, quia quas esse magnam debitis eos ipsam commodi, labore nemo. A tempora veritatis, quo laborum
        incidunt atque mollitia. Fuga ducimus reprehenderit quasi ex tenetur beatae, quia aperiam quos dolorum,
        assumenda maxime officia nostrum deserunt molestias fugiat ut rerum accusantium non dolores voluptatibus? Quia,
        saepe explicabo velit aperiam, aliquid consequatur dicta veritatis quidem qui adipisci, ratione molestiae quis?
        Accusantium, autem tenetur quas enim ipsa mollitia perspiciatis recusandae laborum quos. Asperiores cum rerum
        atque iure maiores soluta id quaerat amet velit? Animi a accusantium exercitationem pariatur tempora aliquid.
        Quaerat reprehenderit voluptate illo nesciunt nobis iure quod ut atque quos, velit deleniti dignissimos
        exercitationem ducimus voluptas perferendis sequi quam porro culpa libero. Ducimus corporis sunt quia, nesciunt
        non reiciendis dolor labore eos quidem quaerat. Magni quos est harum voluptas, laudantium deserunt beatae vel,
        architecto accusantium nulla provident fugit explicabo pariatur. Doloremque corrupti architecto reiciendis
        placeat voluptates, accusantium blanditiis mollitia nulla repellendus necessitatibus perspiciatis aut. Earum
        possimus, quaerat omnis unde obcaecati minus. Itaque velit exercitationem quos eaque eveniet labore facilis sed
        natus dolores tenetur aspernatur harum quidem culpa dolor, quia minus soluta. Nam fugit veritatis mollitia minus
        eius, totam assumenda numquam similique! Veritatis sit deleniti alias! Laborum explicabo dicta corrupti totam
        voluptatibus repellendus perspiciatis repudiandae cupiditate perferendis sit doloribus voluptatum modi aliquam
        nulla alias consequuntur illum id unde ea officia obcaecati, tenetur atque! Modi iste quaerat eum commodi
        aperiam quisquam facilis pariatur ducimus ab.
      </div>
      <mat-grid-tile-footer>
        <mat-checkbox color="primary"> Я согласен(-на)</mat-checkbox>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </form>
</mat-grid-list>

<mat-grid-list cols="3" rowHeight="1:0.85">
  <form>
    <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>

    <mat-grid-tile class="tile" colspan="1" rowspan="1">

      <div class="forms-list">
        <mat-form-field>
          <input matInput type="text" placeholder="Ваш Email">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Пароль">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Повторите пароль">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Мобильный номер">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Ваше имя">
        </mat-form-field>

        <div class="forms-list__buttons">
          <button class="forms-list__buttons-btn" routerLink="/client" mat-flat-button color="primary">Подтвердить</button>
          <button class="forms-list__buttons-btn" routerLink="" mat-flat-button color="accent">На Главную</button>
        </div>
      </div>

    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
  </form>
</mat-grid-list>
