.grid-list {
  background-color: mintcream;
}

.tile {

  &__body {
    width: 100%;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
    overflow-y: auto;
    text-align: justify;

  }
}

.forms-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 1%;
  padding-bottom: 1%;

  &__buttons{
    display: flex;
    justify-content: space-around;

    &-btn{
        width: 35%;
    }
  }
}
