.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 11;
}

.login-modal {
  position: absolute;
  z-index: 12;
  left: 50%;
  transform: translate(-50%, 0);
  top: 10%;
  width: 30%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;

  &__header{
      height: 40px;
      background-color: #673AB7;
      color: white;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border-radius: 5px 5px 0 0;
      margin-bottom: 10px;
      text-transform: uppercase;
  }

  &__input {
    width: 80%;

    &-item {
      width: 100%;
    }
  }

  &__buttons{
      display: flex;
      width: 80%;
      justify-content: space-around;
      margin-top: 10px;
      margin-bottom: 10px;
  }
}

.sign-up{
    text-decoration: none;
    color: #673AB7;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}