<div class="backdrop"></div>
<form [formGroup]="form">
  <div class="login-modal">

    <div class="login-modal__header">
      {{title}}
    </div>

    <div class="login-modal__input">
      <mat-form-field class="login-modal__input-item">
        <input matInput type="text" formControlName="email" placeholder="Enter your Email">
      </mat-form-field>
    </div>

    <div class="login-modal__input">
      <mat-form-field class="login-modal__input-item">
        <input matInput type="text" formControlName="password" placeholder="Enter your password">
      </mat-form-field>
    </div>

    <div mat-dialog-actions class="login-modal__buttons">
      <button mat-flat-button [disabled]="form.invalid" routerLink="/client" type="submit" (click)="close.emit()" color="primary">CONFIRM</button>
      <button mat-flat-button color="accent" (click)="close.emit()">CANCEL</button>
    </div>

    <a class="sign-up" routerLink="/signup" (click)="close.emit()">sign-up</a>

  </div>
</form>
