<form (ngSubmit)="submit()">
  <mat-card class="flowers-block__mat-card">
    <img mat-card-image [src]="flower.img" alt="pic here">
    <mat-card-title>{{flower.name}}</mat-card-title>
    <mat-card-subtitle>{{flower.price}}$</mat-card-subtitle>
    <mat-card-actions class="flowers-block__mat-card-actions">
      <button mat-flat-button color="primary" (click)="decreaseFlowerCount()">
        <mat-icon>remove</mat-icon>
      </button>
      <input class="actions__input" type="text" [value]="flower.count" readonly>
      <button mat-flat-button color="primary" (click)="increaseFlowerCount()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</form>