<h2>Create Your Own</h2>
<div class="counter">
  <span class="counter__item">$PRICE COUNT$</span>
</div>

<mat-horizontal-stepper class="stepper" [linear]="isLinear" #stepper>
  <mat-step>
    <ng-template matStepLabel>SELECT FLOWERS</ng-template>

    <!-- FILTERS -->
    <div class="filters">
      <mat-form-field class="filters__item">
        <mat-label>Choose flower</mat-label>
        <mat-select [formControl]="flowers" multiple>
          <mat-option *ngFor="let flower of flowerList" [value]="flower">{{flower}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="filters__item">
        <mat-label>Choose color</mat-label>
        <mat-select [formControl]="colors" multiple>
          <mat-option *ngFor="let color of colorList" [value]="color">{{color}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- FLOWER CARDS -->
    <div class="flowers-block">
      <app-flower [flower]="item" *ngFor="let item of flowersArr"></app-flower>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>SELECT DESIGN & CONTAINER</ng-template>

    <!-- BOUQUET CARDS -->
    <div class="bouquets-block">
      <app-bouquet [bouquet]="item" *ngFor="let item of bouquetsArr"></app-bouquet>
    </div>

  </mat-step>

  <!-- ===================================== DELIVERY STEP ================================= -->
  <mat-step>
    <ng-template class="stepper__step-template" matStepLabel>DELIVERY</ng-template>

    <div class="display-flex">
      <div class="delivery">
        <!-- FOR CHECKED FLOWERS -->
        <div class="flowers-block-delivery">
          <app-flower [flower]="item" *ngFor="let item of deliveryFlowersArray"></app-flower>
        </div>

        <mat-list class="bouquets-block__mat-list">
          <mat-list-item>Cost for Flowers $$00.00$$</mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>

        <!-- FOR CHECKED BOUQUETS -->
        <div class="flowers-block-delivery">
          <app-bouquet [bouquet]="item" *ngFor="let item of deliveryBouquetsArray"></app-bouquet>
        </div>

        <mat-list class="bouquets-block__mat-list">
          <mat-list-item>Cost for Design & Container $$0.00$$</mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </div>

      <!-- DELIVERY FIELDS -->
      <div class="delivery-setup">
        <mat-form-field>
          <span matPrefix>+375 &nbsp;</span>
          <input type="tel" matInput placeholder="Your phone number">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Your Address">
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Location type">
            <mat-option value="option">Home</mat-option>
            <mat-option value="option">Office</mat-option>
            <mat-option value="option">Hotel</mat-option>
            <mat-option value="option">Hospital</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="dp" placeholder="Choose date" [formControl]="date">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>

        <span class="delivery-setup__price">Total Price: $$5.00$$</span>

        <button color="accent" mat-raised-button>Order</button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
