h2 {
  margin-left: 2vw;
}

.counter {
  margin-bottom: 10px;
  margin-left: 5vw;
  font-weight: bold;
  font-size: 22px;
  color: darkgreen;
}

.stepper {
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: #EAF9FF;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  &__item {
    width: 40%;
  }
}

.flowers-block {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: .5%;
}

.bouquets-block {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: .5%;

  &__mat-list {
    width: 100%;
  }
}

.display-flex {
  display: flex;

  .delivery {
    width: 60%;

    .flowers-block-delivery {
      margin-top: 10px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: .5%;
    }
  }

  .delivery-setup {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 40%;
    position: sticky;
    top: 0;
    
    &__price {
      margin-bottom: 20px;
    }
  }
}
