<form (ngSubmit)="submit()">
  <mat-card class="flowers-block__mat-card">
    <img mat-card-image [src]="bouquet.img" alt="pic here">
    <mat-card-title>{{bouquet.name}}</mat-card-title>
    <mat-card-actions class="flowers-block__mat-card-actions">
      <mat-checkbox color="primary" [disabled]="bouquet.isDisabled" [checked]="bouquet.isChecked" name="bouquet" [value]="bouquet.name" (change)="toggleCheck()">{{bouquet.price}}$ / unit</mat-checkbox>
    </mat-card-actions>
  </mat-card>
</form>
