.flowers-block__mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &-actions {
    display: flex;
    justify-content: center;

    .actions__input {
      width: 20%;
      text-align: center;
      outline: none;
    }
  }
}
