mat-grid-list {
  background-color: mintcream;
  border-radius: 0 0 10px 10px;
}

mat-grid-tile-footer {
  display: flex;
  justify-content: space-around;
  border-radius: 0 0 10px 10px;
}

.tile {

  &__body {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
    overflow-y: auto;

    &-item{
      height: 45px;
      background-color: lightblue;
      margin-top: .5px;
      margin: 1%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 5%;
      padding-right: 5%;
      border-radius: 5px;
    }
  }

  &__footer {
    &-btn {
      width: 20%;
    }
  }
}
