<mat-grid-list cols="3" rowHeight="1:1">

  <form>

    <mat-grid-tile class="tile" colspan="3" rowspan="1">
      <mat-grid-tile-header class="tile__header">Список заказов</mat-grid-tile-header>
      <div class="tile__body">
        <div class="tile__body-item">
          <mat-checkbox color="primary"></mat-checkbox>
          <span> $$Номер заказа1543125135423543545232$$ </span>
          <span> $$10.10.2020$$ </span>
          <span>ORDER STATUS: $$Отправлен/Не отправлен$$</span>
        </div>
        <div class="tile__body-item">
          <mat-checkbox color="primary"></mat-checkbox>
          <span> $$Номер заказа1543125135423543545232$$ </span>
          <span> $$10.10.2020$$ </span>
          <span>ORDER STATUS: $$Отправлен/Не отправлен$$</span>
        </div>
        <div class="tile__body-item">
          <mat-checkbox color="primary"></mat-checkbox>
          <span> $$Номер заказа1543125135423543545232$$ </span>
          <span> $$10.10.2020$$ </span>
          <span>ORDER STATUS: $$Отправлен/Не отправлен$$</span>
        </div>
        <div class="tile__body-item">
          <mat-checkbox color="primary"></mat-checkbox>
          <span> $$Номер заказа1543125135423543545232$$ </span>
          <span> $$10.10.2020$$ </span>
          <span>ORDER STATUS: $$Отправлен/Не отправлен$$</span>
        </div>
        <div class="tile__body-item">
          <mat-checkbox color="primary"></mat-checkbox>
          <span> $$Номер заказа1543125135423543545232$$ </span>
          <span> $$10.10.2020$$ </span>
          <span>ORDER STATUS: $$Отправлен/Не отправлен$$</span>
        </div>
        <div class="tile__body-item">
          <mat-checkbox color="primary"></mat-checkbox>
          <span> $$Номер заказа1543125135423543545232$$ </span>
          <span> $$10.10.2020$$ </span>
          <span>ORDER STATUS: $$Отправлен/Не отправлен$$</span>
        </div>
        <div class="tile__body-item">
          <mat-checkbox color="primary"></mat-checkbox>
          <span> $$Номер заказа1543125135423543545232$$ </span>
          <span> $$10.10.2020$$ </span>
          <span>ORDER STATUS: $$Отправлен/Не отправлен$$</span>
        </div>
        <div class="tile__body-item">
          <mat-checkbox color="primary"></mat-checkbox>
          <span> $$Номер заказа1543125135423543545232$$ </span>
          <span> $$10.10.2020$$ </span>
          <span>ORDER STATUS: $$Отправлен/Не отправлен$$</span>
        </div>
        <div class="tile__body-item">
          <mat-checkbox color="primary"></mat-checkbox>
          <span> $$Номер заказа1543125135423543545232$$ </span>
          <span> $$10.10.2020$$ </span>
          <span>ORDER STATUS: $$Отправлен/Не отправлен$$</span>
        </div>
      </div>
      <mat-grid-tile-footer>
        <button class="tile__footer-btn" mat-flat-button color="warn">Отменить заказ</button>
        <button class="tile__footer-btn" mat-flat-button color="primary">Изменить дату доставки</button>
        <button class="tile__footer-btn" mat-flat-button color="accent">Отменить доставку(Самовывоз)</button>
        <button class="tile__footer-btn" mat-flat-button color="primary">Проверить статус заказа</button>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </form>

</mat-grid-list>
